/*!
 * Start Bootstrap - Blog Home (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px 0;
}

.file {
    visibility: hidden;
    position: absolute;
}

.radio-status{
    margin: 50px 0px;
}

.browse-button {
    margin-top: 137px;
}

.sbt-button{
    margin-top: 50px;
}