
html {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.table {
    border: none;
}

.table-definition thead th:first-child {
    pointer-events: none;
    background: white;
    border: none;
}

.table td {
    vertical-align: middle;
}

.refresh-btn{
    margin-bottom: 20px;
}

#icon-crud a.btn.btn-sm.btn-default {
    display: inline-block;
    margin: 5px 7px;
}

#icon-crud form {
    display: inline-block;
    margin: 5px 7px;
}
